#home {
  // position: fixed;
  background: url('../../assets/bgIMG.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;

  flex-direction: row;

  padding-top: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @media screen and (min-width: 768px) and (max-width: 1128px) {
    // padding-top: 300px;
    flex-direction: column;
  }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    // padding-top: 300px;
    flex-direction: column;
  }
  @media screen and (max-width: 1200px) {
  }

  @media screen and (max-width: 450px) {
    // padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (min-width: 320px) and (max-width: 1200px) {
    width: 100%;
    margin-right: 0rem;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    // background: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    background: #77a1d3; /* fallback for old browsers */

    background-image: (linear-gradient(to left, #77a1d3, #d155b8));
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .wave {
      animation-name: wave-animation;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
      @keyframes wave-animation {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(14deg);
        }
        20% {
          transform: rotate(-8deg);
        }
        30% {
          transform: rotate(14deg);
        }
        40% {
          transform: rotate(-4deg);
        }
        50% {
          transform: rotate(10deg);
        }
        60% {
          transform: rotate(0deg);
        } /* Reset for the last half to pause */
        100% {
          transform: rotate(0deg);
        }
      }
    }
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
    }
    @keyframes TransitioningBackground {
      0% {
        background-position: 1% 0%;
      }
      50% {
        background-position: 99% 100%;
      }
      100% {
        background-position: 1% 0%;
      }
    }

    // for shine & gradient effects to work
    position: relative;
    overflow: hidden;
    // for background color shift
    background-image: (linear-gradient(to left, #77a1d3, #d155b8, #79cbca));

    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    // to ease the button growth on hover
    transition: 0.6s;

    // psuedo-element shine animation left side
    &::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      width: 60px;
      height: 100%;
      top: 0;
      left: 0;
      filter: blur(30px);
      transform: translateX(-100px) skewX(-15deg);
    }

    // psuedo-element shine animation right side
    &::after {
      content: '';
      display: block;
      position: absolute;
      // background: rgba(255, 255, 255, 0.2);
      width: 30px;
      height: 100%;
      top: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
    }

    // grow button and change background gradient on hover
    &:hover {
      background-image: (linear-gradient(to left, #2d8fe5, #d155b8));
      // transform: scale(1.2);
      cursor: pointer;

      // psuedo-elements for right- and left-side shine animations
      &::before,
      &::after {
        transform: translateX(300px) skewX(-15deg);
        transition: 0.7s;
      }
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 1200px) {
    justify-content: center;
    align-items: center;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: var(--white-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }

  // circles with different height & width

  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
  }

  div:nth-child(3) {
    width: 100px;
    height: 100px;
  }
  @media (prefers-reduced-motion: no-preference) {
    div:nth-child(3) {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media screen and (min-width: 2000px) {
    div:nth-child(2) {
      width: 400px;
      height: 400px;
    }

    div:nth-child(3) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(1) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
  }

  @media screen and (min-width: 360px) and (max-width: 1200px) {
    align-items: center;
    width: 100%;
    justify-content: center;
    img {
      width: 460px;
      height: 460px;
      margin-top: 39px;
    }
  }
}
